<header>
  <div class="header">
    <a routerLink="" routerLinkActive="router-link-active" >
      <h1>Afterwork</h1>
    </a>
    <nav class="nav-menu">
      <button class="header-nav-button" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" role="button">Home</button>
      <button class="header-nav-button" routerLink="/recipe-hub" routerLinkActive="active">Hub</button>
      <button class="header-nav-button" routerLink="/new-recipe" routerLinkActive="active">New</button>
    </nav>
  </div>
</header>
