.recipe-card{

  cursor: move;

  .exit{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 20px;
    margin: 0 0 85% 85%;
    background-color: rgba(255, 1, 1, 0.7);
    color: white;
    font-weight: bolder;
    font-size: 150%;
    border-radius: 50%;
    border: none;
  }
}


