.recipe-hub-container{
  display: flex;
  flex-wrap:wrap;
  align-items: center;
	gap: 10px;
  background-color: rgba(48, 48, 48, 0.5);
  border-radius: 20px;
  width:57%;
  margin: 20px auto;
  padding: 30px;
}
