.recipes-hub{
    display: flex;
    align-items: center;
    justify-content: center;

    width:57%;
    margin: 20px auto;
    padding: 30px 30px 30px 30px;
    border-radius: 20px;

    background-color: rgb(212,241,244,0.2);
    
    .feed-container{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}