<div class="container">
    <div class="user-profile">

        <img *ngIf="!user.profilePictureURL" class="profile-picture" src="../assets/img/profile-pictures/profile-picture.png">
        <img *ngIf="user.profilePictureURL" class="profile-picture" src="{{user.profilePictureURL}}" alt="">
        <h1>{{user.name}}</h1>

        <div *ngIf="user.description">
            <h2>About me</h2>
            <div class="item">
                {{user.description}}
            </div>
        </div>

        <div *ngIf="userRecipes.length != 0">
            <h2>{{user.name}}'s recipes</h2>
            <div class="item">
                <app-recipe-card *ngFor="let recipe of userRecipes" (click)="onViewRecipe(recipe.id)" [recipe]="recipe"></app-recipe-card>
            </div>
        </div>

    </div>
</div>
