.container{
    .user-profile {
        width: 60%;
        padding: 30px 40px 30px 40px;

        .profile-picture{
            margin: 20px auto;
            border-radius: 50%;
            width: auto;
            height: 200px;
        }
    
        .item{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
    }
}